#head
{
background-image: url(head.png);
background-repeat: repeat-x;
height:75px;
width:100%;
margin:none;
vertical-align: middle;
}

.left {
float:left; 
width: 49%;
height:85%;
margin-left:5px;
margin-right:5px;
}
.right {
float:left; 
width: 49%;
height:89%;
margin-left:5px;
}


 .form{ 
    border-width: 2px; 
    border-color: #CCCCCC; 
    border-radius: 4px; 
    border-style: solid; 
    color: #222222; 
    background-color: #FFFFFF; 
} 


.form label{ 
    color: #222222; 
    font-size: 14px; 
    margin: 2px; 
} 
.form input[type=radio], input[type=checkbox]{ 
    margin: auto; 
    width: 100%; 
} 

.form input, form textarea, form select{ 
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 0px; 
    padding: 0px; 
    width: 100%; 
    font-size: 9pt;
} 
.form h1{ 
    font-size: 30px; 
    color: #607A75; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 5px; 
    font-size:16pt;
    background-color: #FFFFFF; 
} 
.form h2{
border-top: 1px dashed gray;
    margin-top: 5px; 
    font-size:13pt;
    margin-bottom: 5px; 
} 
.clear{ 
    /* clear: both; */ 
} 
.section{
   display:table; 
overflow: hidden;
vertical-align:top;
margin-left:0;
margin-right:0;
height:100%;
width:100%;
line-height: 20px;
}
.field1{
    display:table-cell; 
    width: 50%;
    margin: auto;
    padding-right: 10px;
} 
.field2{ 
    display:table-cell; 
    width: 50%;
    padding-left:10px;
} 

html {height:100%}
body {height:100%;margin:0;padding:0}
#googleMap {height:100%}
